{% extends 'myApp/base.html' %}

{%block content%}
    <h2>Education</h2>
    <hr>
    <div class="item">
        <div class="left">
            <p><b>Universitas Pendidikan Indonesia</b></p>
            <p>Bachelor, Computer Science Education, GPA: (3.88/4.00)</p>
        </div>
        <div class="right">
            <p>2023-Now</p>
        </div>
    </div> 
    <div class="item">
        <div class="left">
            <p><b>Assalam Islamic Boarding School</b></p>
            <p>Nature Science, GPA: (87.68/100)</p>
        </div>
        <div class="right">
            <p>2018-2022</p>
        </div>
    </div>   
{% endblock %}