{% extends 'myApp/base.html' %}

{%block content%}
    <h2>Experience</h2>
    <hr>
    <p><b>Universitas Pendidikan Indonesia</b></p>
    <hr>
    <div class="item">
        <div class="left">
            <p><b>Practicum Assistant for Algorithms and Programming</b></p>
            <ul>
                <li>Accompanying 47 students in learning algorithms and programming</li>
                <li>Effectively conveying complex concepts in Strategic Algorithm and Discrete Mathematics
                    to enhance student understanding and engagement</li>
                <li>Correcting practical assignments of 40 students</li>
            </ul>
        </div>
        <div class="right">
            <p>2024-Now</p>
        </div>
    </div>  
    <div class="item"> 
        <div class="left">
            <p><b>Participant in the LIDM National Competition</b></p>
            <ul>
                <li>Conduct research with team with the reaserch theme of educational digital learning inovation</li>
                <li>Conduct teamwork during the reaserch</li>
            </ul>
        </div>
        <div class="right">
            <p>2024</p>
        </div>
    </div> 
    <div class="item">
        <div class="left">
            <p><b>Member of Lecturer Research Team</b></p>
            <ul>
                <li>Assist lectures inreaserh on ethno engineering</li>
            </ul>
        </div>
        <div class="right">
            <p>2024</p>
        </div>
    </div>   
    <br>
    <hr>
    <p><b>Community Service Program</b></p>
    <hr>
    <div class="item">
        <div class="left">
            <p><b>Teaching Arabic</b></p>
            <ul>
                <li>Teaching MA El-Gontori and MTS El-Gontori students</li>
                <li>Teaching nahwu and sorof material</li>
            </ul>
        </div>
        <div class="right">
            <p>2022-2023</p>
        </div>
    </div>   
{% endblock %}