{% extends 'myApp/base.html' %}

{%block content%}
    <h2>About Me</h2>
    <hr>
    <p><b>General Information</b></p>
    <hr>
    <p><b>Place/Date Birth :</b> Baturaja/December 18, 2003</p>
    <p><b>Gender           :</b> Female</p>
    <p><b>Religion         :</b> Islam</p>
    <p><b>Nationality      :</b> Indonesia</p>
    <br>
    <hr>
    <p><b>Skills</b></p>
    <hr>
    <li><b>Skills:</b> MS office, C++, C, Python, Javascript, SQL, Bootstrap, Django</li>
    <li><b>Language Skills:</b> English, Arabic</li>
    <li><b>Additional Skills:</b> Procedural Thinking, Computational Thinking, Project Management, Flowchart, UML Diagram</li>
{% endblock %}