{% load static %}
<nav class="navbar_sosmed">
    <ul class="nav_sosmed">
        <li>
            <a href="https://mail.google.com/mail/u/0/?view=cm&tf=1&fs=1&to=fathamidah03@gmail.com" target="_blank">
                <img src="{% static 'myapp/img/email.jpg' %}" alt="email">
            </a>
        <li>
        <li>
            <a href="https://www.linkedin.com/in/fathnhh/" target="_blank">
                <img src="{% static 'myapp/img/linkedin.jpg' %}" alt="LinkedIn">
            </a>
        <li>
        <li>
            <a href="https://www.instagram.com/fathnhh/" target="_blank">
                <img src="{% static 'myapp/img/instagram.jpg' %}" alt="instagram">
            </a>
        <li>
    </ul>
    </nav>
</nav>